body{
  background-color: #E6CB44;
  overflow: scroll;
}
.container{
  margin:0px;
  padding:0px 0px 0px 0px;
  background-color: rgba(0, 0, 0, 0);
}
header{
  background:url('https://png.pngtree.com/thumb_back/fw800/back_pic/03/77/70/5557c044f662e9e.jpg');
  padding:0px;
  background-repeat: no-repeat;
  background-size: 1800px 300px;
}
.header{
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  background-color: rgba(0, 0, 0, 0);
  height:200px;
  width: 1100px;
}
.container ul{
  display: inline-block;
  list-style: none;
  margin-top: 65px;
}
.container li{
    display: inline-block;
    padding-left: 40px;
    padding-right: 70px;
}
#menu_font{
  font-size: 60px;
  font-family: fantasy;
  color:white;
}
img{
  height: 45px;
  margin-bottom: 30px;
}
a{
  text-decoration: none;
  font-size: 30px;
  font-family: fantasy;
  color: white;
}
section {
  padding-bottom: 10px;
}
div{
  background-color: rgba(255,255,255,1);
  background-size: cover;
  padding-top: 10px;
  margin:20px 0 0 0;
  text-align: center;
  border:none;
}
h2{
  font-family: fantasy;
  color: #f7f9f9;
  background-color: #E6CB44;
}
.column {
  float: left;
  width: 25%;
  padding: 5px;
}
.step1{
  display: block;
  font-family: fantasy;
  color:white;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}
.row{
  margin:auto;
}
.step1 img{
  padding: 0px 40px 0px 50px;
  height:240px;
  width:20px;
  display: inline-block;
  margin: 0px 0px 0px 0px;
}
.step1 img:hover{
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
div .thePizzaSize{
  background-color: rgba(255,255,255,1);
  background-size: cover;
  padding:0;
  margin:0;
  text-align: center;
  border:none;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.step1 li{
  display: inline-block;
  list-style: none;
}

.column{
  margin:auto;
}
.step2{
  display: block;
  font-family: fantasy;
  color:white;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}
.step2 img{
  height:200px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border:10px solid #FF8C00;
  border-radius:40px;
}
.step2 img:hover{
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
.step2 li{
  display: inline-block;
  list-style: none;
}
.row2{
  margin:auto;
}
p{
  display:inline;
  text-align: bottom;
}
img{
  height: 45px;
  margin-bottom: 30px;
}

input{
  margin-bottom: 10px;
}
.step3{
  display: block;
  font-family: fantasy;
  color:white;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}
.step3 img{
  display: block;
  font-family: fantasy;
  color:white;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  height:180px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border:10px solid #FF8C00;
  border-radius:40px;
}
.step3 img:hover{
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.6s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
.step3 li{
  display: inline-block;
  list-style: none;
}
.row2{
  margin:auto;
}

input{
  margin-bottom: 10px;
}

#theAddToBasket{
  font-size: 20px;
  font-family:fantasy;
  color: white;
  text-decoration: none;
  background-color: #FF8C00;
}
#displayTotalCost{
  font-size: 20px;
  font-family:fantasy;
  color: white;
  text-decoration: none;
  background-color: #FF8C00;
}

#toBilling{
  display:none;
}
/* Style dropdown list */
select{
  font-family: fantasy;
  font-size: 100em;
  height: 50px;
  width: 180px;
  color: white;
  background-color: #FF8C00;
  padding: 0px;
  border-radius: 0;
}

.Quantity select{
  background-color: white;
  color: black;
  height: 30px;
  width:50px;
}
#basketValue{
  font-size: 20px;
  font-family:fantasy;
  margin: 10px 0px 10px 0px;
  color: white;
  border: none;
  background-color: #FF8C00;
  width:60px;
}
