body{
  text-align: center;
  background: url('https://png.pngtree.com/thumb_back/fw800/back_pic/03/77/70/5557c044f662e9e.jpg');
  background-size: cover;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
}
.title{
  margin: 130px 0px -10px 0px;
  font-size: 6em;
  color: white;
  font-family:courier;
}
.text-white {
  color: white;
}
img {
  height: 30px;
}
h4{
  margin: 0;
  font-size: 24px;
  font-family: "alternate_gothic_fsno_2", Helvetica,Arial,sans-serif;
  color: #E6CB44;
  box-sizing: border-box;
  display: inline-block;
}
.list_style{
  margin: 0;
  padding: 0px;
  text-align: left;
  list-style: none;
  font-family: "alternate_gothic_fsno_2", Helvetica,Arial,sans-serif;
}
li{
  display: list-item;
  list-style: none;
  font-size: 20px;
  font-family: "alternate_gothic_fsno_2", Helvetica,Arial,sans-serif;
  text-align: center;
}

.Follow_text-white{
  margin-top: 2px;
  color: white;
}

.About_text-white{
  margin-top:120px;
  color: white;
}
